* {
    color: white;
}

body {
    background-image: url(./img/bg.png);
    background-size: cover;
    background-repeat: repeat-y; 
    background-position: center;
    overflow: hidden;
}



.row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 0 5% 5% 5%;
    flex-direction: column;
    height: 100vh;
}

.navbar-custom {
    background-color: #1c0032 !important;
  }


#home a {
    text-decoration: none !important; 
    margin: 1% 1% 0 0;
  }
  
#home a:hover {
    color: #DC77FF !important;
 }

.iconn {
    margin: 0.5% 0.5% 1% 0;
}

.btn-bd-primary {
    padding: 0.5% 1%;
    margin: 2% 0 0 0;
    background-color: #1c0032;
    color: white;
    border: 1% solid rgb(196, 196, 196);
    border-radius: 7px;
    cursor: pointer;
}

 
.btn-bd-primary:hover {
    box-shadow: 0 4px 8px 0 #DC77FF;
    cursor: pointer;
} 

.myElement {
    opacity: 0; 
    transform: translateY(50px);
    transition: opacity 0.5s, transform 0.5s; 
}


.myElement.show {
    opacity: 1;
    transform: translateY(0);
}