

#about {
    margin: 6% 8%;
}

#projects {
    margin: 6% 8%;
}

#blog {
    margin: 6% 8%;
}


.row {
    margin: 5% ;
}

.card-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  
}

.card-projects .card {
    width: 400px;
    border: 1px solid #ddd;
    padding: 2%;
    margin: 0.5%;
}

.card-blog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-blog .card {
    width: 400px;
    border: 1px solid #ddd;
    padding: 2%;
    margin: 0.5%;
}

.footer {
    text-align: center;
    justify-content: center;
    margin: 10% 10% 0 10%;
    border-top: 0.05rem solid rgb(187, 187, 187);

}

.footsub {
    margin: 3% 0 0 0;
    display: flex;
    text-align: center;
    justify-content: center;
}

.btn-bd-primary {
    margin: 7% 0 0 0;
}

#hobby h1 {
    margin: 20% 0;
}

#blog a {
    color: #000 !important; 
    text-decoration: none !important; 
    margin: 1% 1% 0 0;
  }
  
/* #blog a:hover {
    
 } */