* {
    color: white;
}

body {
    background-color: #10001C !important;
    
}

#about {
    margin: 5% 8%;
}

#projects {
    margin: 5% 8%;
}

#blog {
    margin: 5% 8%;
}

#blog img {
    margin: 0 1% 1% 0;
}

strong {
    background: linear-gradient(to right, #DC77FF, #dea6fa);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.row {
    margin: 4% ;
}

.card-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-projects .card {
    width: 400px;
    border: 1px solid #ddd;
    padding: 3%;
    margin: 0.5%;
    background-color: #10001C;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 4px 4px 8px 0 #DC77FF;
    cursor: pointer;
}

.card-blog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-blog .card {
    width: 400px;
    border: 1px solid #ddd;
    padding: 2%;
    margin: 0.5%;
    background-color: #10001C;
    transition: transform 0.3s ease;
}

.imgblog{
    margin-bottom: 5%;
}

.footer {
    text-align: center;
    justify-content: center;
    margin: 10% 10% 0 10%;
    border-top: 0.05rem solid rgb(187, 187, 187);

}

.footsub {
    margin: 3% 0 0 0;
    display: flex;
    text-align: center;
    justify-content: center;
}

.footsub h4 {
    margin: 1% 0 0 0;
}

.footicon img{
    margin: 1.5% 1% 2% 1%;
}

#star {
    margin: 0 1% 1% 1%;
}

.btn-bd-primary {
    padding: 0.5% 1%;
    margin: 2% 0 0 0;
    background-color: #1c0032;
    color: white;
    border: 1% solid rgb(196, 196, 196);
    border-radius: 7px;
    cursor: pointer;
}

 
.btn-bd-primary:hover {
    box-shadow: 0 4px 8px 0 #DC77FF;
    cursor: pointer;
} 

#hobby h1 {
    margin: 20% 0;
}

.myhobby {
    padding-top: 7%;
    margin-bottom: 5%;
}

#blog a {
    color: #000 !important; 
    text-decoration: none !important; 
    margin: 1% 1% 0 0;
}

#projects a {
    color: #000 !important; 
    text-decoration: none !important; 
    margin: 1% 1% 0 0;
}

.myElement {
    opacity: 0;
    transform: translateY(50px); 
    transition: opacity 0.5s, transform 0.5s;
}

.myElement.show {
    opacity: 1;
    transform: translateY(0);
}


@media (max-width: 1200px) {

    #elementhobby {
        order: 2;
    }

    #titlehobby {
        order: 1;
    }

    #videolandscape1 {
        width: 50%;
    }

    #videolandscape2 {
        width: 50%;
    }

    #aboutme {
        padding: 5% 7% 15% 0;
    }
}
